.homepage-container {

  --navbar-height: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.home-splash-container {
  position: relative;
  width: 100vw;
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('../images/homepage/fullSplash.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.record {
  --record-size: 500px;
  --record-opacity: 0.8;
  --controls-opacity: 0;
  
  width: var(--record-size);
  height: var(--record-size);

  transition: all 0.25s ease;
  transform: scale(0.4);
}

.record.active {
  pointer-events: all;
  transform: scale(1);
  --controls-opacity: 1;
}

.record *.spin  {
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

.record-slide {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--record-size);
}

img.record-image {
  width: var(--record-size);
  height: var(--record-size);
  opacity: var(--record-opacity);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

img.record-center {
  position: absolute;
  width: var(--record-size);
  height: var(--record-size);
  top: calc(50% - var(--record-size) / 2);
  left: calc(50% - var(--record-size) / 2);
}

.record-controls {
  --record-control-size: 2rem;
  position: absolute;
  bottom: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.25s ease;
  opacity: var(--controls-opacity);
}


.record-title {
  transition: all 0.25s ease;
  transform: scale(3) translateY(0.75rem);
  color: #68172A !important;
  font-weight: bold !important;
}

.record.active *.record-title {
  position: absolute;
  bottom: 12%;
  width: 100%;
  font-size: 1.5rem;
  transform: scale(1.5);
}

.record-control-button {
  width: var(--record-control-size);
  height: var(--record-control-size);
  cursor: pointer;
  color: #68172A;
  border-radius: 50%;
}

img.record-glare {
  position: absolute;
  width: var(--record-size); /* Adjust size as needed */
  height: var(--record-size); /* Adjust size as needed */
  top: 0;
  left: 0;
  opacity: 0.25; /* Adjust opacity as needed */
  pointer-events: none; /* This prevents the glare image from capturing mouse events */
}

.home-splash-container hgroup {
  pointer-events: none;
}

.home-splash-container hgroup h1 {
  position: absolute;
  width: 100%;
  z-index: 2;
  font-size: 6rem;
  color: #6A2537;
  text-align: center;
  top: 13%;
  left: 0;
}
  
.home-splash-container hgroup h1.header-line-2 {
  margin-top: 6rem;
}

.record-tray {
  min-height: calc(100vh - var(--navbar-height));
  max-height: calc(100vh - var(--navbar-height));
  align-items: center;
  justify-content: center;
  display: flex;
}



@media (max-width: 768px) {

  .record-tray {
    padding-top: 4rem;
  }

  .record {
    --record-size: 300px;
  }

  .record.active *.record-title {
    font-size: 1.25rem;
    transform: scale(1.25);
    bottom: 10%;
  }

  .record-controls {
    bottom: 20%;
  }
}